/* Style for the container of the dropdown */
.label {
    margin: 10px;
  }

  .question-select {
    position: absolute;
    z-index: 100;
  }
  
  /* Style for the dropdown select element */
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Style for the option items in the dropdown */
  option {
    font-size: 16px;
  }

    select {
      font-size: 14px;
      padding: 8px;
    }

  
